*{
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Navigation var style */
#nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
}

ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
}
  
li {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(13, 220, 31);
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}


/* Body main page style */
#ask {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#prompt{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius:10px;
}

#ask > button{
    background-color: #17abc5; /* Green */
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    border-radius:10px;
}

#response{
    margin: 20px;
    border: 10px;
    padding-left: 10px;
}

#response > div{
    margin: 10px;
    padding: 20px;
    border-radius:10px;
}

#response > div:nth-child(odd) {
    background-color: rgb(222, 161, 161);
}

#response > div:nth-child(even) {
    background-color: rgb(165, 157, 157);
}


/* Body Search history style */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #777;
    color: white;
    padding: 18px;
    margin: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  } 

.content {
    margin: 0px 0px 20px 0px;
    padding: 18px;
    background-color: #f1f1f1;
}

.content > p {
    margin: 0px;
}

#historyButton{
    background-color: #dfdf10; /* Green */
    border: none;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    border-radius:10px;
    margin-bottom: 20px;
}
